@{
    ViewData["Title"] = "Home Page";
}


<!-- Start Landing -->
    <div class="landing" style="width:100% !important">
      <div class="container">
        <div class="text">
          <h1>Find yourself with Mentor</h1>
          <p>with Mentor you can build your career by find suit courses, instructors, company, reqruiters and your dreams job, 
              just be ready ... </p>
        </div>
        <div class="image">
          <img src="~/assets/imgs/landing.png" alt="" />
        </div>
      </div>
      <a href="#Search" class="go-down">
        <i class="fas fa-angle-double-down fa-2x"></i>
      </a>
    </div>
    <!-- End Landing -->

    @*Start searching*@

    <div class="events" id="Search" style="margin-top:20px !important;padding:0% !important">
          <img class="dots dots-up" src="~/assets/imgs/dots.png" />
          <h2 class="main-title">Search</h2>
          <div class="container">
            <div class="subscribe">
              <form >
                <input type="search" style="font-size:19px" placeholder="Search for Jobs and courses                    +600 jobs and courses for you">
                <input type="submit" value="Search">
              </form>
            </div>
            <div class="info" style="margin-bottom:100px">
              <h2 class="title">Find the Best Jobs and Courses in Egypt</h2>
              <p class="description">
                Searching for vacancies, courses & career opportunities? Mentor helps you in your requirements search in Egypt , Just be ready ..
              </p>
            </div>
          </div>
    </div>
    @*End searching*@
    