@model UserRolesViewModel

@{
    ViewData["Title"] = "ManageUserRoles";
    Layout = "../shared/_DashBoardLayout.cshtml";
}

<form asp-action="Manage">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h4 class="card-title">Manage Roles For : @Model.UserName</h4>
            @for (var i = 0; i < @Model.roleManager.Count; i++)
            {
                <input asp-for="roleManager[i].Id" type="hidden" />
                <input asp-for="roleManager[i].Role" type="hidden" />
                <input asp-for="UserName" type="hidden" />
                <input type="checkbox" asp-for="roleManager[i].IsSelected"/>   
                <label asp-for="roleManager[i].IsSelected">@Model.roleManager[i].Role</label>
                <br />
            }
        </div>
        <button class="btn btn-primary" type="submit">Save Roles</button>
    </div>
</form>


