@model IdentityRole


<form asp-action="Create" method="post">

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Role Name..." asp-for="Name">
        <button class="btn btn-outline-secondary" type="submit">Create</button>
    </div>

</form>